---
http_interactions:
- request:
    method: get
    uri: https://api.blinknetwork.com/map/v1/locations?lat=33.83656&latd=1&lng=-84.38846&lngd=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Appserver:
      - www3
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":111197,"encid":"MTExMTk3","latitude":33.841204,"longitude":-84.384574,"name":"Dorsey
        Alston Realtors","address1":"100 W. Paces Ferry Road","address2":"","city":"Atlanta","state":"GA","zip":"30305","country":"US","type":"COMMERCIAL","hours":{"1":["00002359"],"2":["00002359"],"3":["00002359"],"4":["00002359"],"5":["00002359"],"6":["00002359"],"7":["00002359"]},"l2Rate":2.0,"dcfcRate":null,"l2RateUnit":3600,"dcfcRateUnit":0,"description":null,"restricted":false,"chargers":2,"inuse":0,"avail":1,"offline":1,"units":{"2":{"25730":{"isSuppressed":false,"model":"PE-30KICE60","portStatus":["AVAIL"],"restricted":false,"state":"AVAIL"},"21158":{"isSuppressed":false,"model":"PE-30KICE40","portStatus":["OFFLINE"],"restricted":false,"state":"OFFLINE"}}},"levels":["2"],"models":["PE-30KICE40","PE-30KICE60"],"portCount":2,"portsInUse":0,"portsAvail":1,"portsOffline":1},{"id":97120,"encid":"OTcxMjA_3","latitude":34.10111,"longitude":-84.518066,"name":"Town
        of Woodstock - Woodstock West","address1":"12453 Highway 92","address2":"","city":"Woodstock","state":"GA","zip":"30188","country":"US","type":"COMMERCIAL","hours":{"1":["00002359"],"2":["00002359"],"3":["00002359"],"4":["00002359"],"5":["00002359"],"6":["00002359"],"7":["00002359"]},"l2Rate":2.0,"dcfcRate":null,"l2RateUnit":3600,"dcfcRateUnit":0,"description":"street
        parking; basic vicinit[...]
